/* app css stylesheet */

/*------------------------------RESET STYLES--------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    list-style:none;
}
a, a:hover, a:active, a:link, a:visited {
    text-decoration: none;
}
select, input, textarea {
    vertical-align:middle;
    border: none;
}
input[type="submit"] {
    cursor: pointer;
}

textarea {
    vertical-align:top;
}
:focus, a:focus {
    outline:none;
}

img, fieldset
{ border:0; }


/*APP*/

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.games-list {
    height: 440px;
    overflow: auto;
}

#my-progress {
    background: #ee5f4c;
}

.win {
    background: rgba(87, 238, 108, 0.35);
}

.lose {
    background: rgba(238, 126, 95, 0.36);
}


.big-font {
    font-size: 40px;
}

.paginate-controls {
    max-width: 250px;
}

.my-rank {
    background: rgba(69, 225, 255, 0.35);
}

