<form class="form-horizontal" ng-submit="addGame()">
    <fieldset>
        <legend>Add game</legend>
        <div class="form-group">
            <label for="opponent" class="col-md-4 control-label">Opponent name</label>

            <div class="col-md-4">
                <input  id="opponent" type="text" mac-autocomplete
                        required="true"
                        minlength="3"
                        mac-autocomplete-source="players"
                        ng-model="opponent"
                        class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="opponentScore">Opponent Score</label>

            <div class="col-md-2">
                <input ng-model="oppScore" id="opponentScore" name="opponentScore" type="number"
                       min="0" max="21" required=""
                       placeholder="0" class="form-control input-md">

            </div>
        </div>


        <div class="form-group">
            <label class="col-md-4 control-label" for="myScore">My score</label>

            <div class="col-md-2">
                <input ng-model="myScore" id="myScore" type="number" min="0" max="21" required=""
                       placeholder="0" class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="addGame"></label>

            <div class="col-md-4">
                <button id="addGame" name="addGame" class="btn btn-success" type="submit">Add Game</button>
            </div>
        </div>

    </fieldset>
</form>
