<table class="table">
    <thead>
    <tr>
        <th>Opponent name</th>
        <th>Opponent score</th>
        <th>Your score</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="game in games | orderBy: 'date': true | itemsPerPage: pageSize">
        <td><a ui-sref="gameDetails({id: game.$id})"> {{game.opponent}}</a></td>
        <td>{{game.oppScore}}</td>
        <td>{{game.myScore}}</td>
        <td><a class="" href="#" ng-click="removeGame(game)">remove</a></td>
    </tr>
    </tbody>
</table>

<dir-pagination-controls class="paginate-controls center-block" max-size="5"></dir-pagination-controls>