<div class="row">
    <h2 class="page-header text-center big-font">{{game.opponent}}</h2>
    <div class="">
        <div class="text-center">
            You
            {{game.myScore}} - {{game.oppScore}}
            Opponent
        </div>
        <div class="text-center"> Game date: {{game.date | unixTimestamp}}</div>
        <div class="text-center label-success"ng-show="game.oppScore < game.myScore">You win! </div>
        <div class="text-center label-danger"ng-show="game.oppScore > game.myScore">You lose :( </div>
    </div>
</div>
<h2 class="page-header text-center big-font">All games vs {{game.opponent}}</h2>
<table class="table">
    <thead>
    <tr>
        <th>Game date</th>
        <th>Opponent score</th>
        <th>Your score</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="game in gamesVsPlayer | orderBy: 'date': true | itemsPerPage: pageSize"
        ng-class="game.myScore > game.oppScore ? 'win': 'lose'">
        <td>{{game.date | unixTimestamp}}</td>
        <td>{{game.oppScore}}</td>
        <td>{{game.myScore}}</td>
    </tr>
    </tbody>
</table>