
<ul class="list-inline">
    <li>Total games: {{getGamesCount()}}</li>
    <li>Loses: {{getLoses()}}</li>
    <li>Wins: {{getWins()}}</li>
</ul>
<div class="clearfix"></div>
<div class="progress" id="my-progress" ng-show="games.length > 0">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{getWinsPercent()}}" aria-valuemin="0"
         aria-valuemax="100" ng-style="{width : ( getWinsPercent() + '%' ) }">
        Wins - {{getWinsPercent()}} %
    </div>
</div>
<h2 class="page-header">Stats per month</h2>
<canvas id="line" class="chart chart-line" data="data"
        labels="labels" legend="true" series="series"
        colours="colours" options="{animation: false}">
</canvas>

<div class="games-list" when-scrolled="loadMore()">
    <table class="table">
        <thead>
        <tr>
            <th>Opponent name</th>
            <th>Opponent score</th>
            <th>Your score</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="game in games | orderBy: 'date': true | limitTo:pageSize"
            ng-class="game.myScore > game.oppScore ? 'win': 'lose'">
            <td><a ui-sref="gameDetails({id: game.$id})"> {{game.opponent}}</a></td>
            <td>{{game.oppScore}}</td>
            <td>{{game.myScore}}</td>
        </tr>
        </tbody>
    </table>
</div>

