<table class="table">
    <thead>
    <tr>
        <th>Player name</th>
        <th>Wins %</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="player in top | orderBy: 'percentage': true| itemsPerPage: 20" ng-class="{'my-rank': player.name == 'My Rank'}">
        <td>{{$index + 1}} {{player.name}}</td>
        <td>{{player.percentage}}</td>
    </tr>
    </tbody>
</table>

<dir-pagination-controls class="paginate-controls center-block" max-size="5"></dir-pagination-controls>