<form class="form-horizontal" ng-submit="start()" ng-hide="formHide" ng-init="forHide = false">
    <h2 class="page-header text-center big-font">Play Game</h2>
    <fieldset>
        <div class="form-group">
            <label for="opponent" class="col-md-4 control-label">Opponent name</label>

            <div class="col-md-4">
                <input id="opponent" type="text" mac-autocomplete
                       required="true"
                       mac-autocomplete-source="players"
                       ng-model="opponent"
                       class="form-control input-md">
            </div>
        </div>


        <!-- Multiple Radios (inline) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="game-to-0">Game to</label>

            <div class="col-md-4">
                <label class="radio-inline" for="game-to-0">
                    <input type="radio" ng-model="gameTo" id="game-to-0" ng-value="11" ng-checked="true"
                           ng-init="gameTo = 11">
                    11
                </label>
                <label class="radio-inline" for="game-to-1">
                    <input type="radio" ng-model="gameTo" id="game-to-1" value="21">
                    21
                </label>
            </div>
        </div>

        <!-- Multiple Radios (inline) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="serves-0">Serves</label>

            <div class="col-md-4">
                <label class="radio-inline" for="serves-0">
                    <input type="radio" ng-model="serves" id="serves-0" ng-value="2">
                    2
                </label>
                <label class="radio-inline" for="serves-1">
                    <input type="radio" ng-model="serves" id="serves-1" ng-value="5" ng-checked="true"
                           ng-init="serves=5">
                    5
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="serves-0">First serve</label>

            <div class="col-md-4">
                <label class="radio-inline" for="fs-0">
                    <input type="radio" ng-model="firstServer" id="fs-0" ng-value="0" ng-checked="true">
                    I'm
                </label>
                <label class="radio-inline" for="fs-1">
                    <input type="radio" ng-model="firstServer" id="fs-1" ng-value="1">
                    Opponent
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="addGame"></label>

            <div class="col-md-4">
                <button id="addGame" name="addGame" class="btn btn-success"
                        type="submit">Start game
                </button>
            </div>
        </div>
    </fieldset>
</form>

<div class="row" ng-show="formHide">
    <h2 class="text-center page-header big-font">Playing vs {{opponent}}</h2>

    <div class="">
        <div class="text-center big-font"  ng-class="myScore >= oppScore ? 'win': 'lose'">
            My scores: {{myScore}}
            <br>
            <button ng-click="myGoal()">+</button>
        </div>
        <div class="text-center big-font" ng-class="myScore <= oppScore ? 'win': 'lose'">
            Opponent: {{oppScore}}
            <br>
            <button ng-click="oppGoal()">+</button>
        </div>
    </div>
    <div ng-show="gameStarted" class="text-center big-font">{{server | whoServing}}</div>
</div>